.PostingWrapper {
  height: 100vh;
}

.PostingHeader {
  height: 50px;
  display: flex;
}

.PostingHeaderBack {
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff366a;
}

.PostingHeaderArrowLeft {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.PostingHeaderTitle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NotoSansKRBold;
  font-size: 16px;
  font-weight: bold;
  margin-right: 60px;
}

.PostingContainer {
  height: calc(100vh - 50px);
  overflow: auto;
}

.PostingInput {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.PostingExitIcon {
  width: 22px;
  height: 20px;
  padding: 15px;
  color: #ff366a;
  rotate: 180deg;
}

.PostingInputContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostingInputBox {
  flex: 1;
  width: 250px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  font-family: NotoSansKRRegular;
  font-size: 14px;
}

.PostingSendButton {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff366a;
  border-radius: 20px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.PostingSendIcon {
  color: white;
}

.PostingMessage {
  display: flex;
}

.PostingProfile {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  background-color: #eeeeee;
}

.PostingContent {
  flex: 1;
  padding-right: 30px;
}

.PostingContentName {
  font-family: NotoSansKRBold;
  font-size: 12px;
  font-weight: bold;
}

.PostingContentText {
  font-family: NotoSansKRRegular;
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.PostingContentTime {
  text-align: right;
  font-size: 12px;
}

/* Path: src\style\PostingStyle.module.css */

.PostingMessageSend {
  display: flex;
}

.PostingProfileSend {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  background-color: #ff92ae;
}

.PostingContentSend {
  flex: 1;
  padding-left: 30px;
}

.PostingContentSendName {
  text-align: right;
  font-family: NotoSansKRBold;
  font-size: 12px;
  font-weight: bold;
}

.PostingContentSendText {
  font-family: NotoSansKRRegular;
  border-radius: 10px;
  border: 1px solid #cccccc;
  background-color: #ffebf0;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.PostingContentSendTime {
  font-size: 12px;
}

/* PostingContainer */

.PostingProp {
  display: flex;
  margin: 0 0 0 18px;
  flex-direction: column;
}

.PostingPropTitle {
  flex-grow: 0;
  margin: 21px 1px 0 0;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.PostingPropDetail {
  height: 17px;
  flex-grow: 0;
  margin: 2px 0 5px 0;
  font-family: NotoSansKR;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;
}

.PostingPropInput {
  width: 300px;
}

.PostingButtonWrapper {
  display: flex;
  justify-content: center;
}

.PostingButton {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 340px;
  height: 50px;
  margin: 80px 0 0 0;
  border-radius: 13px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  font-weight: bold;
}
